<span class="ui dropdown">
  <a class="text">help
      <i class="universal access icon"></i></a>

  <div class="ui menu helpers">

    <div class=" disabled item">
        <i class="question icon"></i>Ask a Question

        <div class="muted" style="padding-top: 10px">Ask a specific question fitting the topics of this forum.</div>
    </div>

      <div class=" disabled item">
         <i class="paste icon"></i>Share a Tutorial

        <div class="muted" style="padding-top: 10px">Share a tutorial. </div>

      </div>
      <div class="disabled item">
        <i class="briefcase icon"></i> Post a Job Opening

        <div class="muted" style="padding-top: 10px">
                  Recruit new hires by posting
                a job opening for an appropriate company.
        </div>


      </div>
       <div class="disabled item">

      <i class="newspaper icon"></i> Announce News
             <div class="muted" style="padding-top: 10px">
                  Announce interesting news to the community at large.
        </div>

    </div>

  </div>
</span>