{% load forum_tags %}
{% load static %}

<div class="ui labeled icon top attached evenly divided menu" id="menu-header" user-id="{{ request.user.id }}">

    {% block headimg %}
    <div class="header item" id="logo">
        <a href="/"><img class="ui image" src="{% static "images/dahabian.logo.png" %}"></a>
    </div>
    {% endblock %}

    <a class="item {% activate tab " latest" %} " href="{% url 'post_list' %}">
    <i class="list icon"></i> All Posts
    </a>

    <a class="item {% activate tab " news" %} " href="{% url 'post_list' %}?type=news">
    <i class="newspaper icon"></i> News
    </a>
    <a class="item {% activate tab " job" %} " href="{% url 'post_list' %}?type=job">
    <i class="briefcase icon"></i> Jobs
    </a>
    <a class="item {% activate tab " tags" %} " href="{% url 'tags_list' %}">
        <i class="tag icon"></i> Tags
        </a>
    <div class="ui simple dropdown item {#% activate tab " tags,news,job,tutorial,forum
    " %#}">



    <i class="arrow alternate circle down icon"></i>
    Other
    <div class="menu">


        <!--            <a class="item {% activate tab "tutorial" %} " href="{% url 'post_list' %}?type=tutorial">-->
        <!--                <i class="help circle icon"></i> Tutorials-->
        <!--            </a>-->
        <a class="item {% activate tab " forum" %} " href="{% url 'post_list' %}?type=forum">
        <i class="file icon"></i> Forum
        </a>

        <a class="item {% activate tab " community" %}" href="{% url 'community_list' %}">
        <i class="world icon"></i> Community
        </a>

        {% if request.user.profile.is_moderator %}
        <a class="item {% activate tab 'spam' %} " href="{% url 'post_list' %}?type=spam">
            <i class="bug icon"></i> Spam
        </a>
        {% endif %}
    </div>
</div>

<!--    <a class="item {% activate tab "planet" %} " href="{% url 'blog_list' %}">-->
<!--        <i class="rss icon"></i> Planet-->
<!--    </a>-->


<a class="item {% activate tab " new" %}" href="{% url 'post_create' %}">
<i class="edit icon"></i> New Post
</a>

<div class="right menu">

    {% if user.is_authenticated %}
    <a class="item  {% activate tab " profile" %}" href="{% url 'user_profile' user.profile.uid %}">
    <i class="{% user_icon_css user %}"></i> {{ user.profile.name }}
    &bull; {{ user.profile.get_score|bignum }}
    </a>

    <a class="item  {% activate tab " logout" %}" href="{% url 'logout' %}" id="new-post">
    <i class="sign-out icon"></i> log out
    </a>
    {% else %}
    <a class="item  {% activate tab " login" %}" href="{% url 'login' %}" id="new-post">
    <i data-feather="key"></i> log in
    </a>
    <a class="item highlight-menu-x {% activate tab " signup" %}" href="{% url 'signup' %}" id="new-post">
    <i data-feather="users"></i> join!
    </a>

    {% endif %}

    <a class="item  {% activate tab " about" %}" href="{% url 'pages' 'about' %}">
    <i class="info circle icon"></i>about
    </a>

</div>
</div>
