{% load static %}
{% load compress %}
{% load recaptcha2 %}
{% load forum_tags %}
{% load accounts_tags %}
<!DOCTYPE html>
<html>
<head>

    <title>
        {% block title %}{{ site_name }}{% endblock %}
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Set the favicon #}
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicons//apple-touch-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicons//apple-touch-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicons//apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicons//apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicons//apple-touch-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicons//apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons//apple-touch-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons//apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons//apple-touch-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons//favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicons//favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons//favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicons//manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'favicons//ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
    {# Load JQuery. #}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/default.min.css">



    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
    {# Google tracker injected if it exists in the context. Set in the django settings. #}
    {% if google_tracker %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tracker }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {dataLayer.push(arguments);}

            gtag('js', new Date());

            gtag('config', "{{ google_tracker }}");
        </script>

    {% endif %}
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
        $.document.ready(function(){
        {% if user.is_authenticated %}
            heap.identify('{{user.username}}');
        {% endif %}
        });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script"></script>

    {# Load recaptcha #}
    {% recaptcha_init %}

    {#  CSS compression. #}
    {% compress css %}
        <link href="{% static 'semantic.min.css' %}" rel="stylesheet">
        <link href="{% static 'prism.css' %}" rel="stylesheet">
        <link href="{% static 'forum.css' %}{% randparam %}" rel="stylesheet">
        {% block cssfile %}
        {% endblock %}

    {% endcompress %}

    {# Javascript compression. #}
    {% compress js %}
        <script src="{% static 'semantic.min.js' %}"></script>
        <script src="{% static 'prism.js' %}"></script>
        <script src="{% static 'forum.js' %}{% randparam %}"></script>
        <script src="{% static 'setup.js' %}{% randparam %}"></script>

        {% block jsfile %}
        {% endblock %}
    {% endcompress %}

    {# Optional block header content. #}
    {% block head %}

    {% endblock %}

    {# Optional css header content. #}
    {% block css %}
    {% endblock %}

    {# Optional javascaript header content. #}
    {% block js %}

    {% endblock %}




<script type="text/javascript">
  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
  heap.load("746672183", {
    secureCookie: true
});
</script>
<meta name="google-site-verification" content="LzYnTsMUmijun_Aap4d0ndfurMhqmTnjMY4TpRN1tCs" />

</head>
<body>

<div class="ui inverted container widen">

    {% include 'banners/top-banner.html' %}

    <span class="menus">
        {% block topmenu %}
            {% include "banners/menu-header.html" %}
            {% include "banners/menu-topics.html" %}
        {% endblock %}
    </span>

    <span class="phone-menus">
        {% include "banners/menu-phone.html" %}
    </span>

    {% block container %}
        <div class="ui bottom attached segment">
            {% show_messages messages %}

            {% block content %}
                MAIN CONTENT
            {% endblock %}

        </div>
    {% endblock %}


    {% block footer %}
        {% include 'widgets/footer.html' %}
    {% endblock %}
</div>
<script>
      feather.replace()
</script>
</body>
</html>

