{% extends "forum_base.html" %}
{% block title_h1 %}
<div class="center-text ">
    <h1>Questions & Answers about Africa</h1>
</div>
{% endblock %}

{% block content %}

    <div class="ui stackable grid">

        <div class="fit twelve wide content column">
            {% block body %}
                {% block search %}
                    SEARCH
                {% endblock %}
                MAIN BODY
            {% endblock %}
        </div>

        <div class="four wide column sidefeed">
            {% block sidebar %}
                SIDE BAR
            {% endblock %}
        </div>

    </div>

{% endblock %}

