{% extends "forum_list.html" %}
{% load forum_tags %}
{% load humanize %}
{% load cache %}


{% block headtitle %}
    Answers Africa Forum
{% endblock %}

{% block body %}

    {% block search %}

        {% search_bar %}

    {% endblock %}


    {% block questions_listing %}


        <div class="ui divided items">
            {% for post in question_posts  %}
                {% post_details post=post user=request.user avatar=avatar %}
            {% empty %}
                <div class="ui warn message">
                    No posts found.
                </div>
            {% endfor %}
        </div>
    {% endblock %}


{% endblock %}

{% block sidebar %}

    {% cache 60 sidebar %}

        {% if tab == 'following' %}
            {% custom_feed feed_type=tab objs=posts title='People you are following' %}
        {% elif tab == 'bookmarks' %}
            {% custom_feed feed_type=tab objs=posts title='People you have bookmarked' %}
        {% else %}
            {% default_feed user=request.user %}
        {% endif %}

    {% endcache %}


{% endblock %}