{% extends "forum_list.html" %}
{% load forum_tags %}
{% load static %}


{% block title %} {{ post.title }} - {{ site_name }}{% endblock %}

{% block headtitle %}
    {{ post.title }}
{% endblock %}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% block css %}
    <link rel="stylesheet" href="{% static 'autocomplete/tribute.css' %}" />
    <link rel="stylesheet" href="{% static 'autocomplete/at.who.css' %}" />
    <link href="{% static 'pagedown.css' %}" type="text/css" media="all" rel="stylesheet">
    <link href="{% static 'pagedown/demo/browser/demo.css' %}" type="text/css" media="all" rel="stylesheet">
{% endblock %}


{% block js %}
    <script src="{% static 'autocomplete/tribute.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagedown/Markdown.Converter.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagedown-extra/pagedown/Markdown.Converter.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagedown/Markdown.Sanitizer.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagedown/Markdown.Editor.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagedown-extra/Markdown.Extra.js' %}"></script>
    <script type="text/javascript" src="{% static 'pagedown_init.js' %}{% randparam %}"></script>


    <script src="{% static 'markdown-it.js' %}"></script>
    <script src="{% static 'autocomplete/at.who.js' %}"></script>
    <script src="{% static 'effects.js' %}{% randparam %}"></script>
    <script src="{% static 'inplace.js' %}{% randparam %}"></script>
    <script src="{% static 'forum.js' %}{% randparam %}"></script>
{% endblock %}

{% block body %}

    {# The toplevel post #}
    <div class="ui vertical segment">
        {% post_body post=post user=request.user tree=tree %}
    </div>

    {# Render each answer for the post #}
    {% for answer in answers %}
        <div class="ui vertical segment">
            {% post_body post=answer user=request.user tree=tree %}
        </div>
    {% endfor %}

    {# Display the newanswer form #}
    {% if request.user.is_authenticated and post.is_open %}
        {# Render form used to submit answers  #}
        {% include 'forms/form_answers.html' %}

        {# Answers not displayed for non open posts  #}
    {% elif not post.is_open %}
        <div class="ui warning message">
            This thread is not open. No new answers may be added
        </div>

    {% else %}
        <div class="ui info message">
            <p><a class="ui small label" href="{% url 'login' %}">
                <i class="sign in icon"></i>Login</a> before adding your answer.</p>
        </div>

    {% endif %}


    <script>

        $(document).ready(function () {
            $('#subscribe').dropdown();
            drag_and_drop();
            $('.ui.dropdown').dropdown();
            //var users = "{{ users_str }}".split(',');
            autocomplete_users();
            //init_pagedown();

            $(this).on('click', '#inplace .save', function () {
                event.preventDefault();
                var post = $(this).closest('.post');
                edit_post(post);
            });

            $(this).on('click', '#inplace .create', function () {
                event.preventDefault();
                create_comment();
            });

            $(this).on('click', '.edit-button', function (event) {
                event.preventDefault();
                inplace_form($(this));
            });

            $(this).on('click', ".add-comment", function () {
                inplace_form($(this), true);
            });

            $(this).on('click', '.editable', function (event) {
                // Insert inplace form with CMD + click
                if (event.metaKey || event.ctrlKey) {
                    inplace_form($(this))
                }
            });

            $(this).on('dblclick', '.editable', function (event) {
                // Insert inplace form with double click.
                //inplace_form($(this))
            });
        });

    </script>


{% endblock %}

{% block sidebar %}

    {#  Cache every hour #}

    <b>Similar Posts </b>

    <div class="ui basic segment" id="similar">
        <div id="similar-feed" post_uid="{{ post.uid }}"></div>
        <div class="ui inverted dimmer">
            <div class="content">
                <div class="ui text loader">
                    <div class="muted">Loading Similar Posts</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

