{% load forum_tags %}
{% load accounts_tags %}

<div class="ui large wrap-text">

{% comment %}
    <div class="event">
        <div class="ui container">
            <b>Who's here</b>
            <a href="{% url "community_list" %}">&bull; All <i class="ui angle small double right icon"></i></a>
            <div class="ui relaxed list">
                <div id="recent">

                    <div v-for="u in users" :key="u.uid">
                        <div class="item spaced" id="foo">
                            <a :href="u.url">
                                    <div class="ui avatar image">
                                        <img class="ui tiny centered image" :src="u.gravatar">
                                    </div>
                                [[ u.name ]]
                            </a>
                            [[ u.score ]]
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="ui divider"></div>
{% endcomment %}


    <div class="event">
        <div class="ui container">
            <b> Recent Votes </b>
            <div class="ui relaxed list">
                {% for vote in recent_votes %}
                    <div class="item spaced">
                        <a href="{% url 'post_view_slug' vote.post.slug %}">{{ vote.post.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="event">
        <div class="ui container">
            <b>Recent Locations</b>
            <a href="{% url "community_list" %}">&bull; All <i class="ui angle small double right icon"></i></a>

            <div class="ui relaxed list">

                {% for profile in recent_locations %}
                    <div class="item spaced">
                        <span>
                        <a class="ui mini avatar thread-users list-avatar image"
                           href="{% url "user_profile" profile.uid %}">
                            <img src="{% gravatar user=profile.user size=90 %}">
                        </a>
                        </span>

                        {{ profile.location }}, <span class="muted">{{ profile.last_login|time_ago }}</span>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="event">
        <div class="ui container">
            <b>Recent Awards</b>
            <a href="{% url 'badge_list' %}"> &bull; All <i class="ui angle small double right icon"></i></a>

            <div class="ui relaxed list">
                {% for award in recent_awards %}

                    <div class="item">
                            <span>
                                <a href="{% url 'badge_view' award.badge.uid %}">{{ award.badge.name }} <i
                                        class="{{ award.badge.icon }}"></i></a> to
                                <a href="{% url "user_profile" award.user.profile.uid %}">
                                    {{ award.user.profile.name }}</a>
                                <span>  {% user_icon user=award.user %}</span>
                            </span>
                    </div>

                {% endfor %}
            </div>

        </div>
    </div>

    <div class="ui divider"></div>

    <div class="event">
        <div class="ui container">
            <b>Recent Replies </b>
            <div class="ui relaxed list">

                {% for replies in recent_replies %}

                    <div class="item spaced">
                        <a href="{% url "post_view_slug" replies.slug %}"> {{ replies.title }}</a>
                        by
                        <a href="{% url "user_profile"  replies.author.profile.uid %}">{{ replies.author.profile.name }}
                        </a>

                        <span>  {% user_icon user=replies.author %}</span>

                        <div class="muted">
                            {{ replies.content |truncatechars:140 }}
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>
{# Revolving map api #}
{% include 'widgets/revolving_map.html' %}
</div>
