{% load static %}


<div class="ui three  center aligned column stackable tiny grid">
    <div class=" left aligned column" style="padding-right: 13%">

        <b>Content</b>
        <a href="{% url 'post_list' %}#search-anchor">Search</a><br>
        <a href="{% url 'community_list' %}">Users</a><br>
        <a href="{% url 'tags_list' %}">Tags</a><br>
        <a href="{% url 'badge_list' %}">Badges</a>

    </div>
    <div class="left aligned column" style="padding-right: 12%">
        <b>Help</b>
        <a href="{% url 'pages' 'about' %}">About</a><br>
        <a href="{% url 'pages' 'faq' %}">FAQ</a><br>

    </div>
    <div class=" left aligned column">

        <b>Access</b>
        <a href="{% url 'rss' %}">RSS</a><br>

    </div>
</div>
<div class="ui divider"></div>

<div class="ui vertical center aligned basic segment">
    <p>Use of this site constitutes acceptance of our <a href="{% url 'pages' 'policy' %}">User Agreement and Privacy
        Policy</a>.</p>
    <div class="smaller muted">
        Copyrights © Dahabian,
        Made with ♥ in Egypt!
    </div>

</div>